.particles {
  position: fixed;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
